:root {
  --bck: 0px;

  --c-hero: #363c59;
  --c-sibl: #637199;
  --c-sand: #e7e0d9;
  --c-oppo: #cc3945;

  --c-drk: #212529;
  --c-mid: #bbbcbe;
  --c-lgt: #f8f9fa;

  --spc-xl: 3rem;
  --spacer-l: 2.25rem;
  --spc-m: 1rem;
  --spc-s: .75rem;
}

/*
@font-face {
  font-family: "Garino-Medium";
  src: url('../fonts/GarinoMedium/font.woff2') format('woff2'), url('webFonts/GarinoMedium/font.woff') format('woff');
}
*/

*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  /* background: var(--c-sand); */
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url('../images/background_sea.svg');
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;

  
  font-family: 'Inria Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  border: var(--bck) solid orange;

  padding: .5rem 0;
  background-color: var(--c-hero);
  color: var(--c-lgt);
}

header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}

main {
  margin-bottom: auto;
}



footer {
  background-color: var(--c-mid);
  color: var(--c-drk);
  padding: var(--spc-s);
  text-align: center;
}

/* ==================================================================================== */
/* MAIN HTML ELEMENTS */
/* ==================================================================================== */

section {
  border: var(--bck) solid steelblue;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Yesteryear', cursive;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  color: var(--c-lgt);
}

.logo__icon {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin: .5rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ==================================================================================== */
/* UTILITY CLASSES */
/* ==================================================================================== */

.container {
  border: var(--bck) solid limegreen;
  width: 96%;
  /* max-width: 1080px; */
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

/* ==================================================================================== */
/* DESIGN ELEMENTS */
/* ==================================================================================== */

.btn {

  font-size: .875rem;

  padding: .125rem .25rem;
  
  cursor: pointer;

  width: fit-content;
  display: flex;
  align-items: center;

  gap: .5rem;
}

.btn:hover {
  background: var(--c-hero);
  color: var(--c-lgt);
}


