
/* ==================================================================================== */
/* DISPLAY STRUCTURE */
/* ==================================================================================== */

.display {
  border: var(--bck) solid magenta;
  position: relative;
}

.page1 {
  transition: all .4s ease-in-out;
}

.out {
  max-height: 95vh;
  overflow-y: hidden;
}

.page2 {
  position: absolute;
  inset: 0 0 0 0;
  /* background: #bae67e; */
  background: var(--c-lgt);
  padding: 2rem;

  transition: transform .6s ease-in-out;
}

.page--hidden {
  /* FIXME -- temporary */
  transform: translateX(100vw);
}

/* ==================================================================================== */
/* CUSTOM CLASSES */
/* ==================================================================================== */

/* PAGE 1 ============================================================================= */

.hero__image__wrapper {
  border: var(--bck) solid teal;
  text-align: center;
  opacity: 1;
  /* margin: 2rem 0; */
}

.hero__image {
  /* border: var(--bck) solid orangered; */
  max-width: 100%;
}

.hero__menu {
  /* border: 4px solid orange; */
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.hero__menu select {
  width: 100%;
}

.continent__name {
  border: var(--bck) solid teal;
  margin: 2rem 0;
  text-align: center;
}

/* cible le <p> qui contient le <span> .country__count */
.continent__header > p:last-child {
  color: var(--c-mid);
}

.filter__menu {
  font-size: .8rem;
}

.filter__menu > * {
  margin: .25rem 0;
}

.country__list--primary {
  border: var(--bck) solid palevioletred;
  /* background: palevioletred; */

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  
  padding: 0;
  list-style: none;
  font-size: .875rem;

  margin-top: 1rem;
}

.country__link {
  width: 50%;
  /* width: 25%; */
  /* background: #cdd; */
  cursor: pointer;
  display: flex;
  align-items: center;

  margin: .25em 0;
}

.country__name {
  /* background: steelblue; */
  font-size: .7rem;

  position: relative;

  transition: all .2s ease-in-out;
}

.country__name:hover {
  opacity: .5;
  /* text-decoration: underline; */
}

.country__name::after {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/airplane-tilt.svg');
  background-size: cover;
  position: absolute;
  right: -20px;
  top: 0;

  opacity: 0;

  transition: all .2s ease-in-out;

}

.country__name:hover::after {
  opacity: 1;
}

.thumb__flag {
  display: inline-block;
  width: 21px;
  height: 14px;
  border: 1px solid var(--c-mid);

  margin-right: .25rem;
}

/* PAGE 2 ============================================================================= */

small {
  color: var(--c-mid);
  /* background: wheat; */
}

.phos {
  color: var(--c-drk);
  /* background: lime; */
  font-size: 1rem;
}

/* mise en forme GRID */

.country__wrapper {
  --sunglow: #fcca46;
  --pumpkin: #fe7f2d;
  --winter-red: #ff006e;
  --blue-violet: #8338ec;
  --azure: #3a86ff;
  --polished-pine: #619b8a;
  --olivine: #a1c181;
  --charcoal: #233d4d;
  
  max-height: 85vh;
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  grid-template-rows: 1fr repeat(3, 3fr);
}

.country__nav {
  /* background: var(--sunglow); */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.country__list--secondary {
  /* background: var(--pumpkin); */
  grid-column: 1 / 2;
  grid-row: 2 / 5;

  font-size: .8rem;
}

.page2NavItem {
  font-size: .6rem;
}

.country__header {
  /* background: var(--winter-red); */
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  justify-content: space-between;
}

#headerCountryName {
  font-size: 2rem;
}

.country__flag {
  border: 1px solid var(--c-mid);
  /* height: 70px; */
  height: 10vw;
}

.country__info {
  /* background: var(--blue-violet); */
  grid-column: 2 / 3;
  grid-row: 2 / 5;



  /* background-image: linear-gradient(rgba(250, 250, 250, .95), rgba(250, 250, 250, .95)), url('../images/mo.png'); */
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 90% -180%;
}

.country__heraldic {
  /* background: var(--azure); */
  /* background: rgba(58, 134, 255, .1); */
  
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  justify-content: center;
  align-items: center;
}

.country__heraldic__image {
  height: 18vh;
}

.country__promote__image {
  /* background: var(--polished-pine); */
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  text-align: right;
}

.country__promote__image__item {
  width: 80%;
  object-fit: cover;
}

.country__promote__desc {
  /* background: #f0f1ef; */
  /* background: var(--olivine); */
  /* background: rgba(161, 193, 129, .2); */
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.promote__desc__text {
  line-height: 1.6;
}

/* CSS HEX */


