
/* SVG */

.continent {
  /* fill: #f0f1ef; */
  fill: #f8f9fa;
}

g:hover {
  stroke-width: 6 !important;
}

/* :hover */
#eur:hover {
  fill: #74b9ff;
  stroke: #2787e7;
}

#afr:hover {
  fill: #ff7675;
  stroke: #cf3f3f;
}

#asi:hover {
  fill: #fdcb6e;
  stroke: #e29f22;
}

#ame:hover {
  fill: #00cec9;
  stroke: #0e817f;
}

#oce:hover {
  fill: #b8e994;
  stroke: #83c653;
}



/* active */
.active {
  stroke-width: 6;
}

[data-code="0"].active {
  fill: #74b9ff;
  stroke: #2787e7;
}

[data-code="1"].active {
  fill: #ff7675;
  stroke: #cf3f3f;
}

[data-code="2"].active {
  fill: #fdcb6e;
  stroke: #e29f22;
}

[data-code="3"].active {
  fill: #00cec9;
  stroke: #0e817f;
}

[data-code="4"].active {
  fill: #b8e994;
  stroke: #83c653;
}

