:root {
  --bck: 0px;

  --c-drk: #212529;
  --c-mid: #bbbcbe;
  --c-lgt: #f8f9fa;

  --spc-xl: 3rem;
  --spacer-l: 2.25rem;
  --spc-m: 1rem;
  --spc-s: .75rem;

}

@font-face {
  font-family: "Garino-Medium";
  src: url('../fonts/GarinoMedium/font.woff2') format('woff2'), url('webFonts/GarinoMedium/font.woff') format('woff');
}


*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Asap", sans-serif; */
  font-family: "Garino-Medium", sans-serif;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  height: 5vh;
  border: var(--bck) solid orange;
  background-color: var(--c-drk);
  color: var(--c-lgt);
}

main {
  margin-bottom: auto;
}

footer {
  background-color: var(--c-mid);
  color: var(--c-drk);
  padding: var(--spc-s);
  text-align: center;
}

/* ==================================================================================== */
/* MAIN HTML ELEMENTS */
/* ==================================================================================== */

section {
  border: var(--bck) solid steelblue;  
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

ul {
  margin: 0;
}

/* ==================================================================================== */
/* UTILITY CLASSES */
/* ==================================================================================== */

.container {
  border: var(--bck) solid limegreen;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

/* ==================================================================================== */
/* DESIGN ELEMENTS */
/* ==================================================================================== */

.btn {
  padding: .5em 1em;
  border: 1px solid var(--c-drk);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.1rem;
  background: transparent;
}

.btn--primary {
  background: var(--c-mid);
  color: var(--c-lgt);
}

.btn:hover {
  opacity: .5;
}


/* ==================================================================================== */
/* DISPLAY STRUCTURE */
/* ==================================================================================== */

.display {
  border: var(--bck) solid magenta;
  position: relative;

}

.page1 {
  transition: all .4s ease-in-out;
}

.out {
  max-height: 95vh;
  overflow-y: hidden;

}

.page2 {
  position: absolute;
  inset: 0 0 0 0;
  /* background: #bae67e; */
  background: var(--c-lgt);
  padding: 2rem;

  transition: transform .6s ease-in-out;
}

.page2.hidden {
  transform: translateX(100vw);
}

/* ==================================================================================== */
/* CUSTOM CLASSES */
/* ==================================================================================== */

/* PAGE 1 ============================================================================= */

.hero__image {
  border: var(--bck) solid teal;
  text-align: center;
  /* margin: 2rem 0; */
}

.hero__image img {
  border: var(--bck) solid orangered;
  text-align: center;
}

.hero__menu {
  /* border: 4px solid orange; */
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.hero__menu select {
  width: 100%;
}

.hero__title {
  border: var(--bck) solid teal;
  margin: 2rem 0;
  text-align: center;
}

.country__list {
  border: var(--bck) solid palevioletred;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  list-style: none;
  font-size: .875rem;
}

.country__link {
  width: 30%;
  border: 1px solid var(--c-mid);
  border-radius: 4px;
  padding: .5em 1em;
  margin: .5em 0;
}


/* PAGE 2 ============================================================================= */

.country__flag {
  border: 1px solid var(--c-mid);
  width: 90px;
  height: 60px;
  margin-top: 2em;
}


.country__coat_arms {
  height: 160px;
}




/* T*T -- MEDIA QUERIES */

@media (max-width: 750px) {

  .container {
    width: 96%;
  }

  .country {
    width: 100%;
  }

}